@model SinglePage.Components.ViewModels.EmptyComponentViewModel

<div class="panel panel-default" id="Control-@string.Format("{0}_{1}", Model.ComponentInfo.Index, ViewBag.Index)">
    <div class="panel-heading">@(ViewBag.Index). @Model.ComponentInfo.Description</div>
    <div class="panel-body"></div>
</div>