@model SinglePage.Components.ViewModels.EmptyComponentViewModel

<div class="panel panel-default" id="Control-@string.Format("{0}_{1}", Model.Name, ViewBag.Index)">
    <div class="panel-heading">@Model.LongName - @ViewBag.Index</div>
    <div class="panel-body"></div>
</div>