<div id="default" class="col-md-12">
    <h2>Ready to show</h2>
    <p>
        Please decide how to show the controls. Direcly select the dropdowns above, you will see the changes here. Currently we only have 2 controls. If you choose to display more than 2, empty placeholders will show up following the existing controls.
    </p>
    <p>
        The first 2 controls are: CTA (Call to Action) button and Bulleted List.
    </p>
</div>