@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>@ViewBag.AppName Demo</h1>

    <div class="row">
        <label class="col-sm-8" for="selectNumber">
            Please select number of the controls:
        </label>
        <select id="selectNumber" class="col-sm-4 selectpicker" data-action="@Url.Action("AjaxRendering", "Home")">
            <option value="1" title="1" disabled>1</option>
            <option value="2" title="2">2</option>
            <option value="3" title="3">3</option>
            <option value="4" title="4">4</option>
            <option data-divider="true"></option>
            <option value="0" title="None Selected" selected>Clear All</option>
        </select>
    </div>

    <div class="row">
        <label class="col-sm-8" for="selectLayout">
            Please select layout of the controls:
        </label>
        <select id="selectLayout" class="col-sm-4 selectpicker" data-action="@Url.Action("AjaxRendering", "Home")">
            <option value="1" title="Horizontal (default)">Horizontal</option>
            <option value="2" title="Vertical">Vertical</option>
        </select>
    </div>
</div>

<div class="row" id="rendererContainer">

    @Html.Partial("~/Views/Home/Default.cshtml")
    
</div>